.home_image-grid {
  &_item {

    &:hover .home_image-grid_overlay,
    img:hover~.home_image-grid_overlay {
      /* Overlay effects */
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      transition: background-color 0.3s ease, opacity 0.3s ease;
      pointer-events: none;
    }

    &:nth-of-type(n + 7) {
      display: none;
    }
  }

  &_overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    pointer-events: auto;
  }
}

/* Header */
[data-page="home"] {
  header {
    position: absolute;
    z-index: 3000;
    left: 0;
    top: 0;
    right: 0;
  }
}