@each $name, $size in $sizes {
  .basis-#{$name} {
    flex-basis: $size;
  }
}

/* ------------------------------
   Flex Container Setup
   ------------------------------ */

@each $suffix, $value in $flex-direction {
  .flex-#{$suffix} {
    flex-direction: $value;
  }
}

@each $suffix, $value in $flex-wrap {
  .flex-#{$suffix} {
    flex-wrap: $value;
  }
}

// Flex Utilities
@each $name, $value in $flex {
  .flex-#{$name} {
    flex: $value;
  }
}

// Flex-Grow Utilities
@each $name, $value in $flex-grow {
  .#{$name} {
    flex-grow: $value;
  }
}

// Flex-Shrink Utilities
@each $name, $value in $flex-shrink {
  .#{$name} {
    flex-shrink: $value;
  }
}

/* ------------------------------
     Order Utilities
     ------------------------------ */

// Ordering classes
@for $i from 1 through 12 {
  .order-#{$i} {
    order: $i;
  }
}
.order-first {
  order: -9999;
}
.order-last {
  order: 9999;
}
.order-none {
  order: 0;
}

/* ------------------------------
     Grid Container Setup
     ------------------------------ */

// Generating grid template columns, rows, span, and start/end classes
@for $i from 1 through 12 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat($i, minmax(0, 1fr));
  }
  .grid-rows-#{$i} {
    grid-template-rows: repeat($i, minmax(0, 1fr));
  }
  .col-span-#{$i} {
    grid-column: span #{$i};
  }
  .row-span-#{$i} {
    grid-row: span #{$i};
  }
  .col-start-#{$i} {
    grid-column-start: #{$i};
  }
  .col-end-#{$i} {
    grid-column-end: #{$i};
  }
  .row-start-#{$i} {
    grid-row-start: #{$i};
  }
  .row-end-#{$i} {
    grid-row-end: #{$i};
  }
}

@each $size, $value in $sizes {
  // General gap
  .gap-#{$size} {
    gap: $value;
  }

  // Horizontal gap
  .gap-x-#{$size} {
    column-gap: $value;
  }

  // Vertical gap
  .gap-y-#{$size} {
    row-gap: $value;
  }
}

/* ------------------------------
     Justification Utilities
     ------------------------------ */

@each $suffix, $value in $justify-content {
  .justify-#{$suffix} {
    justify-content: $value;
  }
}
@each $suffix, $value in $justify-self {
  .justify-self-#{$suffix} {
    justify-self: $value;
  }
}
@each $suffix, $value in $justify-items {
  .justify-items-#{$suffix} {
    justify-items: $value;
  }
}

/* ------------------------------
     Alignment Utilities
     ------------------------------ */

@each $suffix, $value in $align-content {
  .content-#{$suffix} {
    align-content: $value;
  }
}
@each $suffix, $value in $align-self {
  .self-#{$suffix} {
    align-self: $value;
  }
}
@each $suffix, $value in $align-items {
  .items-#{$suffix} {
    align-items: $value;
  }
}
