/* ------------------------------
   Width and Height Utilities
   ------------------------------ */

// Generate width and height utility classes from $sizes
@each $key, $value in $sizes {
  // Width and height classes
  .w-#{$key} {
    width: $value;
  }
  .h-#{$key} {
    height: $value;
  }
}

@each $name, $size in $sizes {
  // Special handling for 'auto' and 'px' keys to avoid prefixing with 'basis-'
  @if $name == "auto" or $name == "px" {
    .basis-#{$name} {
      flex-basis: $size;
    }
  } @else {
    .basis-#{$name} {
      flex-basis: $size;
    }
  }
}

/* ------------------------------
   Auto Width and Height Utilities
   ------------------------------ */

// Define classes for auto width and height
.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}
