/* ------------------------------
   Width and Height Utilities
   ------------------------------ */

// Generate width and height utility classes
@each $key, $value in $sizes {
  .w-#{$key} {
    width: $value;
  }
  .h-#{$key} {
    height: $value;
  }
}

@each $key, $value in $sizes {
  .w-#{$key} {
    width: $value;
  }
  .h-#{$key} {
    height: $value;
  }
}

.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}

/* ------------------------------
   Max-Width Utilities
   ------------------------------ */

// Generate max-width classes
@each $key, $value in $sizes {
  .max-w-#{$key} {
    max-width: $value;
  }
}

@each $key, $value in $sizes {
  .max-w-#{$key} {
    max-width: $value;
  }
}
