/* ------------------------------
   Padding Utilities
   ------------------------------ */

// Loop through $sizes to generate padding utility classes
@each $key, $value in $sizes {
  // All sides padding
  .p-#{$key} {
    padding: $value;
  }

  // Horizontal padding
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }

  // Vertical padding
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }

  // Padding Top
  .pt-#{$key} {
    padding-top: $value;
  }

  // Padding Right
  .pr-#{$key} {
    padding-right: $value;
  }

  // Padding Bottom
  .pb-#{$key} {
    padding-bottom: $value;
  }

  // Padding Left
  .pl-#{$key} {
    padding-left: $value;
  }
}

/* ------------------------------
   Margin Utilities
   ------------------------------ */

// Loop through $sizes to generate margin utility classes
@each $key, $value in $sizes {
  // All sides margin
  .m-#{$key} {
    margin: $value;
  }

  // Horizontal margin
  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }

  // Vertical margin
  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }

  // Margin Top
  .mt-#{$key} {
    margin-top: $value;
  }

  // Margin Right
  .mr-#{$key} {
    margin-right: $value;
  }

  // Margin Bottom
  .mb-#{$key} {
    margin-bottom: $value;
  }

  // Margin Left
  .ml-#{$key} {
    margin-left: $value;
  }
}
