/* ------------------------------
   Global Mixins
   ------------------------------ */

@mixin apply-font-size($size-name) {
  @if map-has-key($font-sizes, $size-name) {
    font-size: map-get($font-sizes, $size-name);
  } @else {
    @warn "Size #{$size-name} not defined in $font-sizes.";
  }
}

// Mixin for line clamping
@mixin line-clamp($lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

/* ------------------------------
   Heading Styles
   ------------------------------ */
// Generate heading styles dynamically
@each $heading-level, $size-name in $heading_sizes {
  h#{$heading-level},
  .h#{$heading-level} {
    @include apply-font-size($size-name);
    letter-spacing: map-get($map: $font_tracking, $key: tight);
    line-height: map-get($map: $font_leading, $key: tight);
    font-weight: map-get($map: $font_weights, $key: light);
  }
}

/* ------------------------------
   Typography Utilities
   ------------------------------ */

// Text size utilities
@each $size, $clamp-value in $font_sizes {
  .text-#{$size} {
    font-size: #{$clamp-value};
  }
}

// Line height utilities
@each $leading-name, $leading-value in $font_leading {
  .leading-#{$leading-name} {
    line-height: $leading-value;
  }
}

// Letter spacing utilities
@each $tracking-name, $tracking-value in $font_tracking {
  .tracking-#{$tracking-name} {
    letter-spacing: $tracking-value;
  }
}

// Font weight utilities
@each $weight-name, $weight-value in $font_weights {
  .font-#{$weight-name} {
    font-weight: $weight-value;
  }
}

// Font family utilities with explicit unquoting
@each $family-name, $family-value in $font_families {
  .font-#{$family-name} {
    font-family: unquote($family-value);
  }
}

/* ------------------------------
   Other Utilities
   ------------------------------ */

// Line clamp utilities
@for $i from 1 through 10 {
  .line-clamp-#{$i} {
    @include line-clamp($i);
  }
}

/* ------------------------------
   Base Element Styles
   ------------------------------ */

// Style for links
a {
  color: inherit;
  text-decoration: none;
}
