/* ------------------------------
     Grid Setup
     ------------------------------ */
$grid_flows: (
  "row": row,
  "col": column,
  "dense": dense,
  "row-dense": "row dense",
  "col-dense": "column dense",
);

$auto_cols: (
  "auto": auto,
  "max": max-content,
  "min": min-content,
  "fr": "minmax(0, 1fr)",
);

$auto_rows: (
  "auto": auto,
  "min": min-content,
  "max": max-content,
  "fr": "minmax(0, 1fr)",
);

/* ------------------------------
     Flexbox Setup
     ------------------------------ */
$justify_content: (
  "normal": normal,
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly,
  "stretch": stretch,
);

$justify_self: (
  "auto": auto,
  "start": start,
  "end": end,
  "center": center,
  "stretch": stretch,
);

$justify_items: (
  "start": start,
  "end": end,
  "center": center,
  "stretch": stretch,
);

$align_content: (
  "normal": normal,
  "center": center,
  "start": flex-start,
  "end": flex-end,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly,
  "baseline": baseline,
  "stretch": stretch,
);

$align_items: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "baseline": baseline,
  "stretch": stretch,
);

$align_self: (
  "auto": auto,
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "stretch": stretch,
  "baseline": baseline,
);

$place_content: (
  "center": center,
  "start": start,
  "end": end,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly,
  "baseline": baseline,
  "stretch": stretch,
);

$place_items: (
  "start": start,
  "end": end,
  "center": center,
  "baseline": baseline,
  "stretch": stretch,
);

$place_self: (
  "auto": auto,
  "start": start,
  "end": end,
  "center": center,
  "stretch": stretch,
);

$flex-direction: (
  "row": row,
  "row-reverse": row-reverse,
  "col": column,
  "col-reverse": column-reverse,
);

$flex_wrap: (
  "wrap": wrap,
  "wrap-reverse": wrap-reverse,
  "nowrap": nowrap,
);

$flex: (
  "1": "1 1 0%",
  "auto": "1 1 auto",
  "initial": "0 1 auto",
  "none": "none",
);

$flex_grow: (
  "grow": 1,
  "grow-0": 0,
);

$flex_shrink: (
  "shrink": 1,
  "shrink-0": 0,
);
