/* ------------------------------
   Positioning
   ------------------------------ */

$positions: (
  "static": static,
  "fixed": fixed,
  "absolute": absolute,
  "relative": relative,
  "sticky": sticky,
);

/* ------------------------------
   Aspect Ratio
   ------------------------------ */

$aspect-ratios: (
  "auto": "auto",
  "square": "1 / 1",
  "video": "16 / 9",
  "portrait": "2 / 3",
  "landscape": "3 / 2",
  "netflix": "2 / 1",
  "standard": "4 / 3",
);

/* ------------------------------
   Columns
   ------------------------------ */
$size-columns: (
  "3xs": 16rem,
  "2xs": 18rem,
  "xs": 20rem,
  "sm": 24rem,
  "md": 28rem,
  "lg": 32rem,
  "xl": 36rem,
  "2xl": 42rem,
  "3xl": 48rem,
  "4xl": 56rem,
  "5xl": 64rem,
  "6xl": 72rem,
  "7xl": 80rem,
);
